:root{
    --ff-one: 'Montserrat', sans-serif;
    --color3: hsl(212, 21%, 14%);
    --ff-two: 'Fraunces', serif;
    --fw-two: 700;
    --color-1: hsl(158, 36%, 37%);
    --color5: hsl(0, 0%, 100%);
    --color4: hsl(228, 12%, 48%);
    --fw-one: 500;
    --color-2: hsl(30, 38%, 92%);
}
body{
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-2);
    font-family: var(--ff-one);
    font-weight: var(--fw-one);
    color: var(--color4);
    font-size: 14px;
}
.container{
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
}
.img-div{
    height: 400px;
}
.des-img{
    display: block;
    border-radius: 10px 0 0 10px;
    height: 100%;
    box-sizing: border-box;
}
.text-div{
    box-sizing: border-box;
    wit
}
.text-container{
    width: 87%;
    margin-inline: auto;
    padding-block: 25px;
}
.text{
    font-weight: var(--ff-one);
    letter-spacing: 5px;
}
.gab{
    color: var(--color3);
    text-transform: capitalize;
    font-family: var(--ff-two);
    font-weight: var(--fw-two);
    line-height: 1;
    margin-block: 20px;
    display: block;
    font-size: 2em;
}
.description{
    display: flex;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}
.price{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-wrap: break-word;
}
.new-price{
    color: var(--color-1);
    font-weight: var(--fw-two);
    font-family: var(--ff-two);
    font-size: 28px
}
.btn{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--color-1);
    color: var(--color5);
    border-radius: 10px;
    padding-block: 10px;
    font-weight: var(--ff-two);
}